@using CA2S00092756RAD1.Models
@model CA2S00092756RAD1.Models.Movies

@{
    ViewBag.Title = "DetailsActor";
}
@if (Model.actors.Any())
{
    <table class="table table-condensed table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.actors.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actors[0].ScreenName)
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model.actors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        <span class="badge">@item.ScreenName</span>
                    </td>
                </tr>
            }
        } @* closing of if *@
    </table>
}